#cards {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card {
        width: 20rem;
        min-height: 35rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        margin: 2rem 0;

        // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .card__image {
        width: 20rem;
        height: 30rem;
        background-position: center;
        background-size: cover;
    }

    .card__title {
        color: $primary-text;

        line-height: 150%;
        letter-spacing: 0.035em;
        margin: .5rem 0;
        text-align: left;

        h2 {
            font-weight: 400;
            font-size: 2rem;
        }
    }

    .card__description {
        font-weight: 300;
        margin: 1rem 0;
        width: auto;
        min-height: 4rem;
        opacity: .75;
        font-style: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.035em;
    }

    .card__date {
        font-weight: 300;
    }
}